.shf-authentication-login {
    display: inline-block;
    width: 100%;
}

.shf-authentication-login {
    display: none;
}

.shf-authentication-login label, .shf-authentication-login input {
    display: block;
    margin: auto;
}

.shf-authentication-login input {
    margin-bottom: 20px;
}

.shf-authentication-login-in-error {
    display: block;
}

.shf-authentication-login .errors {
    padding: 0;
}

.shf-authentication-login a {
    color: white;
}

.shf-authentication-login .errors li::before {
    margin-right: 5px;
    color: red;
}

.shf-authentication-login p {
    margin: auto !important;
    text-align: center;
}

.shf-disconnected, .shf-disconnected>* {
    color: lightgray;
    cursor: default;
}

.shf-authentication-login-fixed-button {
    position: fixed;
    top: 10%;
    right: 0;
    border: none;
    padding: 5px 20px 5px 20px;
    font-size: 1.5em;
    z-index: 99999;
}

@media only screen and (max-width: 959px) {
    .shf-authentication-login-fixed-button {
        display: none;
    }
}